html {
    overflow: hidden;
}

body {
    padding: 0;
    margin: 0;
    background-color: #1B4D3E;
}

.main-head {
    text-align: left;
    margin-left: 10%;
}

.greetings {
    font-size: 3.7rem;
    width: 70%;
    line-height: 1.2;
    margin-top: 10%;
}

.greetings p {
    font-size: 1.5rem;
    margin: 1% 11%;
    opacity: 0.7;
    width: 70%;
}

h1 span {
    font-size: 8rem;
    color: #e7e3c0;
    letter-spacing: 3px;
}

.v-sheet {
    background: none;
}

.wave {
    background: transparent;
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
    box-shadow: 0px -100px 24px -16px rgba(0, 0, 10, 0.1);
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 15s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}

.login__box {
    position: relative;
    font-size: 1.5rem;
}

.login__card {
    font-family: 'Open Sans', sans-serif;
    width: 30%;
    height: 100vh;
    background-color: rgb(10, 10, 10, 0.95);
    color: #fff;
}

.login_cont {
    margin-top: 50%;
}

.hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: .5;
    margin: 20px 0;
}

.hr-text::before {
    content: '';
    background: linear-gradient(to right, transparent, white, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
}

.hr-text::after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;
    padding: 0 .5em;
    line-height: 1.5em;
    color: rgb(218, 216, 216);
    background-color: #3a3845;
}

#google-btn {
    color: black;
    background-color: #e3dcdc;
    padding: 20px;
    font-size: large;
}

img {
    padding-right: 12px;
}

#test {
    height: 300px;
    margin-left: -75px;
    margin-bottom: 4%;
}

.field input {
    text-align: center;
    border-radius: 4px;
}

h1 {
    color: white;
    text-align: center;
    margin: 16px;
}

h4 {
    padding: 0 5px;
    color: #a9d6e5;
    text-transform: capitalize;
}

#sign-div {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    margin-right: 16px;
    margin-bottom: 8px;
    padding: 20px;
    color: white;
    font-size: 0.9rem;
}

#sub {
    background-color: #5692ab;
    margin: 20px 0;
}

.footer-text{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 150%;
}

@media screen and (max-width: 890px) {
    html {
        font-size: 0.42em;
    }

    .login__box {
        flex-direction: column;
    }

    .greetings {
        margin: 32px auto;
        width: auto;
    }

    .main-head {
        margin-left: 5%;
        text-align: center;
    }

    .greetings p {
        margin: 32px 5%;
        text-align: center;
        font-size: 2.5rem;
        width: auto;
    }

    .login__card {
        font-size: 2.4rem;
        width: auto;
        height: 100vh;
    }

    .login_cont {
        margin: 95px auto;
    }
    .footer-text{
        margin-top: 65%;
    }

}