body {
  font-family: 'Space Grotesk', sans-serif;
}

.samimg {
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
  align-self: center;
  padding: 10px;
}

#subb {
  position: absolute;
  margin: auto;
  margin-bottom: 65px;
  padding: 0 30px;
}

#myFileInput {
  display: none;
}

.drag-place {
  position: absolute;
}

#card {
  /* color: white; */
  /* background-color: #434242; */
  margin: 0px 5px 22px;
  border-radius: 12px;
}

#card .toolbr {
  background-color: #111112;
}

#toolContainer {
  padding: 20px;
  border-radius: 20px;
}

#tool-label {
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.0125em;
  display: flex;
  padding: 20px 30px;
  justify-content: space-between;
}

.slid {
  padding: 15px 25px;
}

.toolbr {
  text-align: center;
  padding: 6px;
}

#txt {
  overflow-y: auto;
}

#is-loading {
  position: absolute;
  align-self: center;
  background-color: transparent !important;
  height: 10% !important;
  width: 10% !important;
  z-index: 1;

}

.alert-err {
  position: absolute !important;
  z-index: 2000;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 80px;
}

@media screen and (min-width:1280px) {
  #footerset {
    display: none;
  }

  #subb {
    display: none;
  }
}

@media screen and (max-width:1280px) {
  .alert-err {
    font-size: 0.85rem;
    margin: 80px 6%;
    left: 0;
    transform: translateX(0)
  }

  @media screen and (max-width:768px) {

    #is-loading {
      height: 15% !important;
      width: 15% !important;
    }
  }
}